<div class="container">
    <div *ngIf="toggle; else noCurrentCourse">
      Теперішній курс на <b>{{ currentData }}</b> з API сайта
      <a href='{{ sourceUrl }}'>bank.gov.ua</a>:
      <div>1 USD = <span>{{ currentCourseOfUsd }}</span> UAH</div>
      <div>1 EUR = <span>{{ currentCourseOfEur }}</span> UAH</div>
    </div>
    <ng-template #noCurrentCourse>
      <p style="text-align: center">Будь ласка зачекайте! Ми оновлюємо актуальний курс валют!</p>
    </ng-template>
    <hr>
    <div class="main" *ngIf="toggle; else noConverter">
      <h2>Конвертер валют:</h2>
      <form [formGroup]="converterForm">
        <input type="number" placeholder="input value" formControlName="inputValueFrom" (input)="inputFromHandler()">
        <select name="convert-from" id="convert-from" formControlName="inputTypeFrom" (change)="onInputConvertFromChange()">
          <option value="UAH">UAH</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
        </select>
        to
        <input type="number" placeholder="input value" formControlName="inputValueTo" (input)="inputToHandler()">
        <select name="convert-to" id="convert-to" formControlName="inputTypeTo" (change)="onInputConvertToChange()">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="UAH">UAH</option>
        </select>
      </form>
    </div>
    <ng-template #noConverter>
      <p style="text-align: center">Будь ласка зачекайте! Ми завантажуємо дані про валюти!</p>
    </ng-template>
  </div>
  