/* Navigation */

.nav {
    position: fixed;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-txt);
    letter-spacing: normal;
    z-index: 2;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;
    row-gap: 40;
    flex-wrap: wrap;
}

.logo {
    margin-right: auto;
    color: var(--header-txt);
    font-size: 24px;
    font-family: 'Poppins', sans-serif
}

.logo strong {
    font-weight: 800;
} 

.nav-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 50px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif
}

.nav-list__link {
    color: var(--header-txt);
    transition: opacity 0.3s ease-in;
}

.nav-list__link:hover {
    opacity: 0.5px;
    color: var(--accent-red);
}

.nav-list__link:active {
    position: relative;
    top: 1.3px;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--red);
}

