.container-QRCode {
    display: flex;
    align-items: center;
    margin-top: 320px;
    margin-left: 450px;
  }
  
  .image-QRCode {
    width: 231px;
    height: 249px; 
  }
  
  .content-QRCode {
    margin-left: 66px;

  }
  
  .title-QRCode {
    font-size: 90px;
    font-weight: 600;
    line-height: 2.5;
    font-family: 'Urbanist', sans-serif;
  }
  
  .subtitle-QRCode {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(179, 179, 179);
    font-family: 'Urbanist', sans-serif;
  }